@font-face {
  font-family: 'hk-regular';
  src: url('../fonts/hk/HKGrotesk-RegularLegacy.eot');
  src: url('../fonts/hk/HKGrotesk-RegularLegacy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hk/HKGrotesk-RegularLegacy.woff') format('woff'),
    url('../fonts/hk/HKGrotesk-RegularLegacy.ttf') format('truetype'),
    url('../fonts/hk/HKGrotesk-RegularLegacy.otf') format('otf');
}

@font-face {
  font-family: 'hk-italic';
  src: url('../fonts/hk/HKGrotesk-MediumLegacyItalic.eot');
  src: url('../fonts/hk/HKGrotesk-MediumLegacyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hk/HKGrotesk-MediumLegacyItalic.woff') format('woff'),
    url('../fonts/hk/HKGrotesk-MediumLegacyItalic.ttf') format('truetype'),
    url('../fonts/hk/HKGrotesk-MediumLegacyItalic.otf') format('otf');
}

@font-face {
  font-family: 'recife';
  src: url('../fonts/recife/RecifeDisplay-Book.eot');
  src: url('../fonts/recife/RecifeDisplay-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/recife/RecifeDisplay-Book.woff') format('woff'),
    url('../fonts/recife/RecifeDisplay-Book.ttf') format('truetype');
    /*url('../fonts/recife/HKGrotesk-MediumLegacyItalic.otf') format('otf');*/
}

@font-face {
  font-family: 'recife-light';
  src: url('../fonts/recife/RecifeText-Light.eot');
  src: url('../fonts/recife/RecifeText-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/recife/RecifeText-Light.woff') format('woff'),
    url('../fonts/recife/RecifeText-Light.ttf') format('truetype'),
    url('../fonts/recife/RecifeText-Light.otf') format('otf');
}



@font-face {
	font-family: 'gt';
	/* font-weight: bold;
	font-style: normal; */
  src: url('../fonts/gt/GT-America-Extended-Regular.eot');
  src: url('../fonts/gt/GT-America-Extended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gt/GT-America-Extended-Regular.woff') format('woff'),
    url('../fonts/gt/GT-America-Extended-Regular.woff2') format('woff2'),
    url('../fonts/gt/GT-America-Extended-Regular.otf') format('otf');
}



@font-face {
	font-family: 'Graphik-Medium';
	/* font-weight: bold;
	font-style: normal; */
  src: url('../fonts/graphik/Graphik-Medium.eot');
  src: url('../fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphik/Graphik-Medium.woff') format('woff'),
    url('../fonts/graphik/Graphik-Medium.woff2') format('woff2'),
    url('../fonts/graphik/Graphik-Medium.otf') format('otf');
}



@font-face {
	font-family: 'Berthold';
	font-weight: bold;
	font-style: normal;
  src: url('../fonts/Berthold-Akzidenz-Grotesk-Medium.eot');
  src: url('../fonts/Berthold-Akzidenz-Grotesk-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Berthold-Akzidenz-Grotesk-Medium.woff') format('woff'),
    url('../fonts/Berthold-Akzidenz-Grotesk-Medium.ttf') format('truetype');
}



@font-face {
	font-family: 'Berthold';
	font-weight: normal;
	font-style: normal;
  src: url('../fonts/Berthold.eot');
  src: url('../fonts/Berthold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Berthold.woff2') format('woff2'),
    url('../fonts/Berthold.woff') format('woff'),
    url('../fonts/Berthold.ttf') format('truetype');
}


@font-face {
	font-family: 'BA-bold';
	font-weight: normal;
	font-style: normal;
  src: url('../fonts/BA-bold.eot');
  src: url('../fonts/BA-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BA-bold.woff2') format('woff2'),
    url('../fonts/BA-bold.woff') format('woff'),
    url('../fonts/BA-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'BA';
	font-weight: normal;
	font-style: normal;
  src: url('../fonts/BA.eot');
  src: url('../fonts/BA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BA.woff2') format('woff2'),
    url('../fonts/BA.woff') format('woff'),
    url('../fonts/BA.ttf') format('truetype');
}

