@font-face {
	font-family: 'Graphik-Regular';
	font-weight: bold;
	font-style: normal;
  src: url('../fonts/graphik/Graphik-Regular.eot');
  src: url('../fonts/graphik/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphik/Graphik-Regular.woff') format('woff'),
    url('../fonts/graphik/Graphik-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'neue';
	/* font-weight: bold;
	font-style: normal; */
  src: url('../fonts/neue/neue-haas.eot');
  src: url('../fonts/neue/neue-haas.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neue/neue-haas.woff') format('woff'),
    url('../fonts/neue/neue-haas.woff2') format('woff2'),
    url('../fonts/neue/neue-haas.ttf') format('truetype');
    url('../fonts/neue/neue-haas.otf') format('otf');
}

@font-face {
	font-family: 'noto';
	/* font-weight: bold;
	font-style: normal; */
  src: url('../fonts/noto/Noto.eot');
  src: url('../fonts/noto/Noto.eot?#iefix') format('embedded-opentype'),
    url('../fonts/noto/Noto.woff') format('woff'),
    url('../fonts/noto/Noto.woff2') format('woff2'),
    url('../fonts/noto/Noto.otf') format('otf');
}

@font-face {
	font-family: 'gt';
	/* font-weight: bold;
	font-style: normal; */
  src: url('../fonts/gt/GT-America-Extended-Regular.eot');
  src: url('../fonts/gt/GT-America-Extended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gt/GT-America-Extended-Regular.woff') format('woff'),
    url('../fonts/gt/GT-America-Extended-Regular.woff2') format('woff2'),
    url('../fonts/gt/GT-America-Extended-Regular.otf') format('otf');
}


@font-face {
	font-family: 'Graphik-Medium';
	/* font-weight: bold;
	font-style: normal; */
  src: url('../fonts/graphik/Graphik-Medium.eot');
  src: url('../fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphik/Graphik-Medium.woff') format('woff'),
    url('../fonts/graphik/Graphik-Medium.woff2') format('woff2'),
    url('../fonts/graphik/Graphik-Medium.otf') format('otf');
}

@font-face {
	font-family: 'Graphik-Semibold';
	font-weight: bold;
	font-style: normal;
  src: url('../fonts/graphik/Graphik-Semibold.eot');
  src: url('../fonts/graphik/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphik/Graphik-Semibold.woff') format('woff'),
    url('../fonts/graphik/Graphik-Semibold.otf') format('otf'),
    url('../fonts/graphik/Graphik-Semibold.ttf') format('truetype');
}


@font-face {
	font-family: 'Berthold';
	font-weight: bold;
	font-style: normal;
  src: url('../fonts/Berthold-Akzidenz-Grotesk-Medium.eot');
  src: url('../fonts/Berthold-Akzidenz-Grotesk-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Berthold-Akzidenz-Grotesk-Medium.woff') format('woff'),
    url('../fonts/Berthold-Akzidenz-Grotesk-Medium.ttf') format('truetype');
}



@font-face {
	font-family: 'Berthold';
	font-weight: normal;
	font-style: normal;
  src: url('../fonts/Berthold.eot');
  src: url('../fonts/Berthold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Berthold.woff2') format('woff2'),
    url('../fonts/Berthold.woff') format('woff'),
    url('../fonts/Berthold.ttf') format('truetype');
}


@font-face {
	font-family: 'BA-bold';
	font-weight: normal;
	font-style: normal;
  src: url('../fonts/BA-bold.eot');
  src: url('../fonts/BA-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BA-bold.woff2') format('woff2'),
    url('../fonts/BA-bold.woff') format('woff'),
    url('../fonts/BA-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'BA';
	font-weight: normal;
	font-style: normal;
  src: url('../fonts/BA.eot');
  src: url('../fonts/BA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BA.woff2') format('woff2'),
    url('../fonts/BA.woff') format('woff'),
    url('../fonts/BA.ttf') format('truetype');
}

@font-face {
	font-family: 'Sharp';
	font-weight: normal;
	font-style: normal;
  src: url('../fonts/sharp/sharp-medium.eot');
  src: url('../fonts/sharp/sharp-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sharp/sharp-medium.woff2') format('woff2'),
    url('../fonts/sharp/sharp-medium.woff') format('woff'),
    url('../fonts//sharp/sharp-medium.otf') format('otf');
}


@font-face {
	font-family: 'Mabry';
	/* font-weight: bold; */
	font-style: medium;
  src: url('../fonts/mabry/mabry-medium-pro.eot');
  src: url('../fonts/mabry/mabry-medium-pro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mabry/mabry-medium-pro.woff') format('woff'),
    url('../fonts/mabry/mabry-medium-pro.woff2') format('woff2'),
    url('../fonts/mabry/mabry-medium-pro.otf') format('otf');
}
