

p {
  font-family: "Graphik-Regular";
  font-size: 1em;
  letter-spacing: 0.01em;
  line-height: 1.8em;
  color: #484848;
}

h1{
  font-family: "BA";
  color: black;
  font-size: 3em;
  letter-spacing: 0.05em;
}

h2 {
  font-family: "BA-bold";
  color: black;
  font-size: 2em;
  letter-spacing: 0.07em;
}

h3 {
  font-family: "BA";
  color: black;
  font-weight: 2000;
  font-size: 1.35em;
  margin-bottom: 0;
  letter-spacing: 0.1em;
}

h4 {
  font-family: "Graphik-Medium";
  /* font-style: bold; */
  color: black;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-size: 0.7em;
  font-weight: 50;
}

em {
  font-family: "Berthold";
  font-style: bold;
  color: black;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}

h5{
  font-family: "Berthold";
  color: grey;
  font-weight: 200;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin-top: 1em;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

p a{
    color: #484848;
    border-bottom: 1px solid grey;
}

p a:hover {
  color: grey;
  border-bottom: 1px solid grey;
  transition: 1
}

h3 a{
    border-bottom: 1px solid ;
}

h3 a:hover {
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  border-bottom: none;
}

footer {
  text-align: center;
  position: absolute;
  bottom: -40;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
}


strong{
  font-family: "Graphik-Semibold";
  font-weight: 500;
}

.width {              /*------- MIN MAX WIDTH OF FLEX 2 COLUMNS PARAGRAPSH!! --------*/
  min-width: 250px;
  max-width: 300px;
}

.project h3 {
  font-family: "Graphik-Semibold";
  color: black;
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
}

.project-img{
  margin: 0 auto 0 auto;
  display: block;
  width: 80%;
}

.wnba-gif{
  width: 50%;
}

nav {
  position: fixed;
  z-index: 150;
  margin-left: 5em;
  margin-right: 5em;
  font-size: 0.5em;
  letter-spacing: 0.09em;
  padding-top: 3em;
}

section {
  margin: 0 auto 5em auto;
  display: block;
  width: 60%;
}


/* section h2 {
  margin-top: 0;
} */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

video {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-top: 3em;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image {
  width: 100%;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .screen-shadow{
 box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
 }

.white a:hover {
 -webkit-text-fill-color: transparent;
 -webkit-text-fill-color: black;
 -webkit-text-stroke-width: 0.2px;
 -webkit-text-stroke-color: black;
}

.white  h4 {
  margin-top: 0.6em;
  margin-left: 0.5em;
  font-size: 0.6em;
}

.fullscreen {
  margin-bottom: 7em;
}

.pink-bg {
  border: #FFF7F5 2em solid;
  background-color:  #FFF7F5;
  margin-left: auto;
  margin-right: auto;
}

.orange-bg {
  border: #DD6E1E 2em solid;
  background-color:  #DD6E1E;
  margin-left: auto;
  margin-right: auto;
}

.blue-bg{

  background-color:  #D7F6F9;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 40%;
  right: 40%;
  padding-top: 1em;

}

.menu h3{
  padding-top: 1em;
}

.video {
  width:100%;
  height:0px;
  position:relative;
  padding-bottom:56.250%;
}

.opening {
  /* ------------- CODE FOR BACKGROUND IMAGE ------------- */
  position: relative;
  margin: 0;
  text-align: center;
  height: 100vh;
  z-index: 100;
}


.opening p {
  position: fixed;
  top: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
  width: 60%;
  font-size: 1.3em;
}


.cover {
  background: url(../img/aesop/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1000;
}

.quote {
  /* text-align: center; */
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-style: oblique;
}

.aesop-text h4{
  color: #a8925a;
}

.wnba-text h4{
  color: #df6e00;
  text-align: center;
  font-size: 1em;
}

.eb-text{
  color: #4094A2;
  padding: 2em;
}

.blue-text {
  color: #4094A2;
  display: inline;
}

.aesopimg img {
  width: 100%;
}

.line {
  border-top: 1px solid #c9c9c9;
  margin-bottom: 4em;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.image-hover {
  display: none;
  position: absolute;
  z-index: -5;
  left: 0;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
}

.about-bg{
  /* background-color: black; */
}

.about-bg h3{
  color: black;
}

.bio{
  width: 54%;
  margin: 5em;
  /* margin-bottom: 0; */
  position: absolute;
  /* bottom: 0%; */
  top: 10%;

}

.bio h3{
  font-family: "Graphik-Regular";
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}



.contact {
  /* font-size:1em; */
  margin-top: 0;
  letter-spacing: 0.1em;
  /* font-family: "BA"; */

}

/* .bio a{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.bio a:hover {
  -webkit-text-fill-color: transparent;
	-webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color:  black;
} */



.col1of2{
  width: 45%;
  display: inline-block;
  margin-right: 2em;
  vertical-align: text-top;
}

.col2of2{
  width: 45%;
  display: inline-block;
  vertical-align: text-top;
}


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex {
  flex:1 1 auto;
  margin-right: 1em;
}

.video-flex{
  flex: 2 1 auto;
  /* text-align: center; */
  /* flex: 1; */
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
  /* padding-left: 10em; */
}

.caption-flex {
  flex: 1 1 auto;
  padding-left: 15px;
}


.white {
  position: absolute;
  right: 3%;
  top: 5%;
  text-align: right;
}

.link h1{
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "BA";
  font-size: 2.5em;
}

.link a{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #333;
}

.link a:hover {
  -webkit-text-fill-color: transparent;
	-webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}


.inline-link a{
 text-decoration: underline;
}

.inline-link a:hover{

}

.flex-project{
  z-index: 1000;
  display: flex;
  flex-direction: row-reverse;
}

.vertical-align{
  align-items: center;
}

/* .about:hover .image-hover{
  display: block;
  top: 10vw;
  left: 37vw;
  z-index: 1000;
} */

.about:hover ~ .image-hover{
  display: block;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  top: 35vw;
  left: 70vw;
  z-index: 1000;
}

img.image-hover{
  /* max-width:425px; */
  height:auto;
}

.image-hover {
  display: none;
  position: absolute;
  z-index: -5;
  left: 0;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
}

/* .wnba:hover .image-hover {
  display: block;
  height: 55%;
} */

.aesop:hover .image-hover {
  display: block;
  height: 55%;
  z-index: 10;
}


/* .stevie figcaption {      ----------   COMING SOON
  display: none;
}

.stevie:hover figcaption {
  display: block;
  position: fixed;
  left: 43%;
  top: 45%;
} */

.about img {
  position: fixed;
  left: 50%;
  top: 50%;
}

.wnba img {
  position: fixed;
  left: 50%;
  top: 50%;
}

.aesop img {
  position: fixed;
  left: 50%;
  top: 45%;
}

.stevie img {
  position: fixed;
  left: 50%;
  top: 45%;
}

.side {
  position: fixed;
  left: 2.5em;
  top: 1em;
  width: 30%;
}

.side h3{
  color: #B8B8B8;
  font-size: .8em;
  line-height: 1em;
  letter-spacing: 0.05em;
  opacity: 0.7;
}

.aesop p{
  margin-top: 0.1em;
  /* margin-right: 2em; */
}

.link h4 {
  margin-top: 0.6em;
  margin-left: 0.5em;
  font-size: 0.6em;
}

.name {
  position: fixed;
  left: 2.5em;
  bottom: 1.3em;
  background-color: white;
}

.name h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  font-size: 3.3em;
}

.name p{
  font-size: 1em;
  color: grey;
  font-family: "BA";
  letter-spacing: 0.2em;
  margin-top: 2em;
}

.bottombar{
  position: fixed;
  bottom: 3.3em;
  right: 3em;
  display: inline-block;
  letter-spacing: 2em;
}

.bottombar h3{
  letter-spacing: 0.3em;
}

.small-text {
  font-family: "BA";
  font-size: 0.6em;
  letter-spacing: 0.3em;
}

.horizonal-line {
  background-color: black;
  width: 100px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}


.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}





.next-project {
  /* padding-top: 0.7em; */
  text-align: right;
  margin-top: 0;
}

.next-project h1{
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "BA";
  font-size: 2.5em;
}

.next-project p{
  margin-top: 0;
  margin-bottom: 3em;
  letter-spacing: 0.1em;
  font-size: 0.7em;
}

.next-project   a{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #333;
}


.next-project  a:hover {
    -webkit-text-fill-color: transparent;
	-webkit-text-fill-color: black;
   -webkit-text-stroke-width: 0.2px;
   -webkit-text-stroke-color: black;
}

.next-project  h4 {
  margin-top: 0.6em;
  margin-left: 0.5em;
  font-size: 0.6em;
}



/* --------------  FULLSCREEN VIDEO  ---------------*/

.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    /* background-image: linear-gradient(transparent, #000); */
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}
