/*trial code*/

.float-right{
  float: right;
}

.nav-left{
  float: left;
  margin-left: 1em;
}

.nav h3{
  margin-right: 2em;
  margin-left: 0;
}

.nav a:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color:  rgb(142, 142, 142);;
}


nav a {
  position:relative;
  display:inline-block;
}


p {
  font-family: "gt";
  font-size: 0.9em;
  /* letter-spacing: 0.01em; */
  line-height: 1.8em;
  font-weight: 100;
  color: #333333;
}

p>em {
    font-family: 'gt';
    font-weight: normal;
    font-style: normal;
    color: #333333;
    background-color: #FFF3ED;
}

h1{
  font-family: "BA";
  color: black;
  font-size: 3em;
  letter-spacing: 0.05em;
  z-index: 1000;
}

h2 {
  font-family: "BA-bold";
  color: black;
  font-size: 2em;
  letter-spacing: 0.07em;
}

h3 {
  font-family: "BA";
  color: black;
  font-weight: 2000;
  font-size: 1.35em;
  margin-bottom: 0;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

h4 {
  font-family: "Graphik-Medium";
  /* font-style: bold; */
  color: grey;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-size: 0.7em;
  font-weight: 50;
}

em {
  font-family: "Berthold";
  font-style: bold;
  color: black;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}

h5{
  font-family: "Berthold";
  color: grey;
  font-weight: 200;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin-top: 1em;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

p a{
    color: #484848;
    border-bottom: 1px solid grey;
}

p a:hover {
  color: grey;
  border-bottom: 1px solid grey;
  transition: 1;
}


h3 a:hover {
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  border-bottom: none;
}

footer {
  text-align: center;
  position: absolute;
  bottom: -40;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
}


strong{
  /* font-family: "Graphik-Semibold"; */
  font-weight: 600;
}

ol {
  list-style-type: none;
  counter-reset: li;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-size: .9em;
  font-family: "gt";
  padding-top: 2%;
  color: #333333;
}

li:before {
  /*counter-increment: li;*/
  /*content: counter(li, decimal-leading-zero);*/
  font-family: "gt";
  margin-right: .1em;
}

::selection {
  color: red;
  background: yellow;
}



.width {              /*------- MIN MAX WIDTH OF FLEX 2 COLUMNS PARAGRAPSH!! --------*/
  min-width: 250px;
  max-width: 300px;
}

.project h3 {
  font-family: "Berthold";
  color: #333333;;
  font-size: 1.2em;
  /* text-transform: uppercase; */
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0 !important; 
}

.project-img{
  margin: 0 auto 0 auto;
  display: block;
  width: 80%;
}

.wnba-gif{
  width: 50%;
}

nav {
  /*position: fixed; */
  z-index: 150;
  padding-left: 5em;
  padding-right: 5em;
  font-size: 0.5em;
  letter-spacing: 0.09em;
  padding-top: 3em;
}

.nav-right{
  right:3%;
  position: fixed;
  width: calc(20% - 50px);
}

.split-right {
    width: calc(50% - 5px);
    position: relative;
    display: block;
    float: right;
    margin: 0 0 0 5px;
    padding: 0;
}

section {
  margin: 7em auto 0 auto;
  display: block;
  width: 60%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

video {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-top: 3em;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image {
  width: 100%;
}

.arrow {
  color: #ffce1f;
}

.fun p {
  font-size: .8em;
}

.fun h2 {
  font-size: 1em;
}

/* SPACE UNDER PARAGRAPHS */
.space{
  padding-bottom: 2em;
}


.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .screen-shadow{
 box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
 }

.white a:hover {
 -webkit-text-fill-color: transparent;
 -webkit-text-fill-color: black;
 -webkit-text-stroke-width: 0.2px;
 -webkit-text-stroke-color: black;
}

.white  h4 {
  margin-top: 0.6em;
  margin-left: 0.5em;
  font-size: 0.6em;
}

.fullscreen {
  margin-bottom: 7em;
}

.pink-bg {
  border: #FFF7F5 2em solid;
  background-color:  #FFF7F5;
  margin-left: auto;
  margin-right: auto;
}

.orange-bg {
  border: #DD6E1E 2em solid;
  background-color:  #DD6E1E;
  margin-left: auto;
  margin-right: auto;
}

.blue-bg{

  background-color:  #D7F6F9;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 40%;
  right: 40%;
  padding-top: 1em;

}

.menu h3{
  padding-top: 1em;
}

.video {
  width:100%;
  height:0px;
  position:relative;
  padding-bottom:56.250%;
}

.opening {
  /* ------------- CODE FOR BACKGROUND IMAGE ------------- */
  position: relative;
  margin: 0;
  text-align: center;
  height: 80vh;
  z-index: 100;
  /* background-color: #111111; */
}

.projnav{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin: 0 auto 7em auto;
  width: 60%;
  background-color: white;
  z-index: 1000;
}

.projnav h4{
  font-family: "gt";
}

.projnav a:hover{
  font-style: italic;
}

.projnav a::after{
  font-size: 2em;
}

.opening p {
  position: fixed;
  font-family: "gt";
  top: 35%;
  letter-spacing: .001em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
  width: 60%;
  font-size: 1.3em;
  text-align: left; 
}

.project-context h3{
  font-family: "gt";
  letter-spacing: .001em;
  font-size: 1em;
  text-align: left; 
  color: #a8a8a8;
}

.project-context p{
  margin-top: 0.3em;
  margin-bottom: 1.9em;
}

.cover {
  background: url(../img/aesop/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1000;
}

.quote {
  /* text-align: center; */
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-style: oblique;
}

.aesop-text h4{
  color: #a8925a;
}

.wnba-text h4{
  color: #df6e00;
  text-align: center;
  font-size: 1em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


.eb-text{
  color: #4094A2;
  padding: 2em;
}

.blue-text {
  color: #4094A2;
  display: inline;
}

.dropbox-text {
  font-family: "Sharp";
  color: #0F1D85;
  display: inline;
  letter-spacing: 0.05em;
}


.aesopimg img {
  width: 100%;
}

.line {
  border-top: 1px solid #c9c9c9;
  margin-bottom: 4em;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.image-hover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
}


.bio ::selection {
  color: black;
  background: white;
}

.bio{
   width: 100%; 
  position: static;
  padding-top: 12%;
  padding-left: 5%;
  align-items: flex-start !important;
}

.bio p{
  color: rgb(142, 142, 142);
  margin-top: 0;
  font-family: "gt";
  font-size: 1em;
}

.bio h3{
  font-family: "gt";
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: 0.03em;
   /*color: #fff4ed; */
    color: rgb(142, 142, 142);
  font-weight: 10;
  margin-top: 0;
  padding-right: 2em;
}

.bio a{
  color: #fff4ed;
  font-size: 1em;
  text-decoration: none;
  border-bottom: none;
}

.bio a:hover {
 text-decoration: none !important;
 border-bottom: none;
}


.contact h3{
  /* margin-top: 3em; */
  letter-spacing: 0.1em;
  font-size: 1em;
}



.col1of2{
  width: 45%;
  display: inline-block;
  margin-right: 2em;
  vertical-align: text-top;
}

.col2of2{
  width: 45%;
  display: inline-block;
  vertical-align: text-top;
}


.col1of3{
  width: 25%;
  display: inline-block;
  vertical-align: text-top;
}

.col2of3{
  width: 70%;
  display: inline-block;
  vertical-align: text-top;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-top-align{
  align-items: flex-start;
}

.flex {
  flex:1 1 auto;
  margin-right: 1em;
}

.basis-50 {
    flex-basis: 50%;
}

.basis-33 {
    flex-basis: 33%;
}

.grow2 {
  flex: 2;
}

.flex-start{
  align-items: flex-start;
}

.video-flex{
  flex: 2 1 auto;
  /* text-align: center; */
  /* flex: 1; */
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
  /* padding-left: 10em; */
}

.caption-flex {
  flex: 1 1 auto;
  padding-left: 15px;
}


.white {
  position: absolute;
  right: 2%;
  bottom: 0%;
  text-align: right;
}

.link h4 {
  margin-top: 0.6em;
  margin-left: 0.5em;
  font-size: 0.6em;
}

.link h1{
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "BA";
  font-size: 2.5em;
}

.link a{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #333;
}

.link a:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}



.inline-link a{
 text-decoration: underline;
}


.flex-project{
  z-index: 1000;
  display: flex;
  flex-direction: row-reverse;
}

.vertical-align{
  align-items: center;
}




.about:hover ~ .image-hover{
  display: block;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  top:25vw;
  left: 80vw;
  z-index: 1000;
}
.about-lava:hover ~ .image-hover-lava{
  display: block;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  top:25vw;
  left: 80vw;
  z-index: 1000;
}

img.image-hover{
  height:auto;
    z-index: -1;
}

.image-hover-lava, .image-hover{
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
}

.aesop:hover .image-hover {
  display: block;
  height: 55%;
  z-index: -100;
}

.top strong{
  font-size: 1.5em;
}

.about img {
  position: fixed;
  left: 50%;
  top: 50%;
}

.wnba img {
  position: fixed;
  left: 50%;
  top: 50%;
}

.aesop img {
  position: fixed;
  left: 30%;
  top: 55%;
}

.stevie img {
  position: fixed;
  left: 50%;
  top: 45%;
}

.side {
  position: fixed;
  left: 2.5em;
  top: 1em;
  width: 30%;
}

.side h3{
  color: #B8B8B8;
  font-size: .7em;
  line-height: 1em;
  letter-spacing: 0.05em;
  opacity: 0.7;
}


.name {
  position: fixed;
  left: 3em;
  top: 3em;

}

.name h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  font-size: 2em;
}

.name p{
  font-family: "gt";
  margin-bottom: 0.2em;
  font-weight: 100; 
  letter-spacing: .001em;
  /*font-size: 1em;*/
  text-align: left; 
  width: 40%;
  z-index: -20000;
}

.bottombar{
  position: fixed;
  bottom: 3.3em;
  right: 3em;
  display: inline-block;
  letter-spacing: 2em;
}

.topbar {
  /*position: fixed;*/
  right: 10em;
  display: inline-block;
  letter-spacing: 2em;
}


.bottombar h3{
  letter-spacing: 0.3em;
}

.small-text {
  font-family: "BA";
  font-size: 0.6em;
  letter-spacing: 0.3em;
}

.horizonal-line {
  background-color: black;
  width: 100px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}


.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}


.next-project {
  text-align: right;
  margin-top: 0;
}

.next-project h1{
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "BA";
  font-size: 2em;

}

.next-project p{
  margin-top: 0;
  margin-bottom: 3em;
  letter-spacing: 0.01em;
  font-size: 0.7em;
}

.next-project   a{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #333;
}


.next-project  a:hover {
    -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: black;
   -webkit-text-stroke-width: 0.2px;
   -webkit-text-stroke-color: black;
}

.next-project  h4 {
  margin-top: 0.6em;
  margin-left: 0.5em;
  font-size: 0.6em;
}



/* --------------  FULLSCREEN VIDEO  ---------------*/

.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    /* background-image: linear-gradient(transparent, #000); */
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}
