@media (max-width: 375px) {

  .no-mobile{
    display: none;
  }


  .side {
    display: none;
  }

  .name {
    top: 1% !important;
    position: fixed;
    left: 1em !important;
    overflow-y: scroll;
  }

  .name p{
    font-size: 0.8em;
    display: none;
  }

  .name h3{
    font-size: 0.6em !important;
    font-family: "BA";
    color: black;
    font-weight: 100;
    margin-bottom: 0;
  }

  section {
    width: 90%;
  }

  .top strong{
    font-size: 1em;
  }

  .container{
    flex-wrap: wrap;
  }

  .video-flex video {
    width: 250px ;
    height: 156px ;
    margin-bottom: 1em;
    margin-top: 1em;
   }

   .video-flex{
     justify-content: center;
     padding-right: 0;
   }

   .col1of2, .col2of2{
     width: 96%;
   }

   .caption-flex h2{
     font-size: 1.2em;
   }

   .bio{
     width: 100%;
     margin: 2em;
   }

   .bio h3, h5{
    padding-top: 4em;
    padding-bottom: 2em;
     font-size: 1.1em;
     position: relative !important;
     width: 90% !important;
   }

   .opening p{
     font-size: 1em;
   }

   .wnba-gif{
     width: 80%;
   }

   .about:hover .image-hover{
     display: none !important;
   }

   .wnba:hover .image-hover {
     display: none !important;
   }

   .aesop:hover .image-hover {
     display: none !important;
   }

   .stevie:hover .image-hover {
     display: none !important;
   }

   .bottombar{
     top: 1em !important;
     right: 1.8em !important;
   }

   .bottombar h3{
     letter-spacing: 0.1em !important;
   }

   .flex{
     margin-right: 0;
   }

   .mobile-img {
     width: 47%;
     margin-top: 2em !important;
   }

   .mobile-text{
    width: 80% !important;
    text-align: left;
    margin-top: 7em !important;
   }

   .aesop h3, h4 {
     display: none;
   }

   .aesop h1{
     font-size: 2em !important;
   }

   .next-project {
     position: fixed;
     right: 0.5em;
     /* top: 5em; */
     bottom: 1vw;
     overflow-y: scroll;
   }

   .basis-50 {
      flex-basis: 100%;
   }

   .basis-33 {
      flex-basis: 100%;
   }


}


@media (min-width: 375px) and (max-width: 560px) {



  .next-project {
    position: fixed;
    right: 0.5em;
    /* top: 5em; */
    bottom: 0%;
  }

  .name {
    position: fixed;
    top: 1% !important;
    left: 1em !important;
    overflow-y: scroll;
  }

  .name p{
    font-size: 0.8em;
    /* display: none; */
  }

  .name h3{
    font-size: 0.6em !important;
    font-family: "BA";
    color: black;
    font-weight: 100;
    margin-bottom: 0;
  }



.video-flex video {
  width: 320px ;
  height: 200px ;
 }

 .video-flex{
   justify-content: center;
   padding-right: 0;

 }

 .opening p {
   font-size: 1em;
 }

 .about:hover .image-hover{
     display: none !important;
 }

 .wnba:hover .image-hover {
     display: none !important;
 }

 .aesop:hover .image-hover {
     display: none !important;
 }

 .stevie:hover .image-hover {
     display: none !important;
 }

 .white h4{
   display:none;
 }

  .bottombar{
    top: 1em !important;
    right: 1.8em !important;
  }

  .bottombar h3{
    letter-spacing: 0.1em !important;
  }

 .flex{
  margin-right: 0;
  }
}
/* TABLET ===========================================================================*/


@media (min-width: 376px) and (max-width: 768px) {

  .basis-50 {
     flex-basis: 100%;
  }

  .basis-33 {
     flex-basis: 100%;
  }

  nav{
    /* margin-left: 0; */
    display: inline-block;
  }

  .nav-left{
    padding-left: 5em;
  }
  .nav-right{
    margin-right: 0em;
    /* padding-right: 0; */
  }


  .name p {
    display: none;
  }


  .max-width {
     max-width: none;
  }

 .side {
   display: none;
 }

 .col1of2{
   width: 100%;
 }

 .col2of2{
   width: 100%;
 }

 section {
   width: 85%;
 }

 img {
   width: 100%;
 }

 .mobile-img {
   width: 47%;
   margin-top: 2em !important;
 }

 .mobile-text{
  width: 80% !important;
  text-align: left;
    margin-top: 7em !important;
 }

 .about img {
   position: inherit;
 }

 .white h1 {
   /* text-align: center; */
   font-size: 0.2em;
 }


 .white h3 {
   display: none;
 }

 .flex-project{
   /* display: none; */
 }

 .container{
   flex-wrap: wrap;
 }

 .opening{
   height: 90vh;
   width: 90%;
 }

  .bio{
    width: 100%;
    margin: 2em;
  }

  .bio h3{
    position: relative !important;
    width: 90% !important;
    font-size: 1.1em;
    padding-bottom: 2em;
  }

  .wnba-gif{
    width: 80%;
  }

   .flex{
     margin-right: 0;
   }


  .aesop h3 {
    display: none !important;
  }

}



/* DESKTOP ===========================================================================*/
@media (min-width: 769px) and (max-width: 5000px) {

}
