@media (max-width: 375px) {
  .side {
    display: none;
  }

  .name {
    bottom: 2.3em;
  }
  .name p{
    font-size: 0.9em;
  }

  section {
    width: 90%;
  }

  .container{
    flex-wrap: wrap;
  }

  .video-flex video {
    width: 250px ;
    height: 156px ;
    margin-bottom: 1em;
    margin-top: 1em;
   }

   .video-flex{
     justify-content: center;
     padding-right: 0;
   }

   .col1of2, .col2of2{
     width: 96%;
   }

   .caption-flex h2{
     font-size: 1.2em;
   }


   .bio{
     width: 100%;
     margin: 2em;
   }

   .bio h3{
     font-size: 1.1em;
   }

   .opening p{
     font-size: 1em;
   }

   .wnba-gif{
     width: 80%;
   }

   .about:hover .image-hover{
     display: none !important;
   }

   .wnba:hover .image-hover {
     display: none !important;
   }

   .aesop:hover .image-hover {
     display: none !important;
   }

   .stevie:hover .image-hover {
     display: none !important;
   }

   .bottombar{
     display: none !important;
   }

   .flex{
     margin-right: 0;
   }

   .mobile-img {
     width: 47%;
     margin-top: 2em !important;
   }

   .mobile-text{
    width: 80% !important;
    text-align: left;
    margin-top: 7em !important;
   }


}


@media (min-width: 375px) and (max-width: 560px) {

.video-flex video {
  width: 320px ;
  height: 200px ;
 }

 .video-flex{
   justify-content: center;
   padding-right: 0;

 }

 .opening p {
   font-size: 1em;
 }

 .about:hover .image-hover{
     display: none !important;
 }

 .wnba:hover .image-hover {
     display: none !important;
 }

 .aesop:hover .image-hover {
     display: none !important;
 }

 .stevie:hover .image-hover {
     display: none !important;
 }

 .white h4{
   display:none;
 }

 .bottombar{
   display: none !important;
 }

 .flex{
  margin-right: 0;
  }
}
/* TABLET ===========================================================================*/


@media (min-width: 376px) and (max-width: 768px) {

  .max-width {
     max-width: none;
  }

 .side {
   display: none;
 }

 .col1of2{
   width: 100%;
 }

 .col2of2{
   width: 100%;
 }

 section {
   width: 85%;
 }

 img {
   width: 100%;
 }

 .mobile-img {
   width: 47%;
   margin-top: 2em !important;
 }

 .mobile-text{
  width: 80% !important;
  text-align: left;
    margin-top: 7em !important;
 }

 .about img {
   position: inherit;
 }

 .white h1 {
   /* text-align: center; */
   font-size: 0.2em;
 }


 .white h3 {
   display: none;
 }

 .flex-project{
   display: none;
 }

 .container{
   flex-wrap: wrap;
 }

 .opening{
   width: 90%;
 }

  .bio{
    width: 80%;
    margin: 2em;
  }

  .bio h3{
    font-size: 1.1em;
  }

  .wnba-gif{
    width: 80%;
  }

   .flex{
     margin-right: 0;
   }
}



/* DESKTOP ===========================================================================*/
@media (min-width: 769px) and (max-width: 5000px) {

}
